@model WeatherForecast.Models.Forecast

@{
    int days = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        City: <b>@Model.city.name</b>
        <br />
        @foreach (var day in Model.list)
        {
            System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
            dtDateTime = dtDateTime.AddSeconds(day.dt).ToLocalTime();
            @:Date: @dtDateTime
                <br />
            @:Weather: @day.weather.First().main
                <br />
            @:Max temp: @day.temp.max
                <br />
            @:Min temp: @day.temp.min
                <br />
                <br />
                <br />
            days++;
            if (days == Model.Period)
            {
                break;
            }
        }

    </div>
</body>
</html>
