body {
    padding-bottom: 20px;
    font-family: "Segoe UI";
}

h3 {
    margin-left: 15px;
    font-family: "Segoe UI Light";
    font-weight: bold;
}

footer {
    margin-top: 45px;
    font-size: 15px;
    font-family: Segoe UI Light;
    display: flex;
    justify-content: space-between;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 86%;
    margin: 0 7%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.period {
    margin-top: 15px;
}

.day {
    display: flex;
    position: relative;
    margin: 15px;
    height: 116px;
}

/* Show title just for first day */

.day .time_of_day_title {
    display: block;
}

.day ~ .day .time_of_day {
    padding: 0;
    padding-top: 12px;
}
.day ~ .day .time_of_day {
    padding: 0;
    padding-top: 12px;
}

.day ~ .day .time_of_day_title {
    display: none;
}

/* --end-- */


.main {
    width: 15%;
    border-right: 1px solid #dddddd;
    padding: 5px;
    height: 100%;
}

/* Show date */

.main p {
    text-align: center;
}

.day_of_month {
    font-size: 24px;
}

/* --end-- */

/* Show general information */

.day_info {
    display: inline-flex;
    justify-content: center;
    width: 29%;
    border-right: 1px solid #dddddd;
    height: 100%;
}

.temperature_min_max {
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
}

.info_list {
    padding: 2px 0 0 25px;
}

.weather_image {
    padding: 0;
    padding-right: 15px;
}

.weather_image img {
    margin: 10px 0px 7px 13px;
    height: 55%;
}

.pressure_img {
    height: 20px;
}

.humidity_img {
    height: 20px;
}

.cloudiness_img {
    margin-left: -5px;
    height: 28px;
}

.wind_direction_img {
    margin-left: -5px;
    height: 28px;
}

.sun_img {
    margin-left: -7px;
    height: 32px;
}

.table_info {
    font-size: 12px;
}

.table_info td {
    padding: 0;
    height: 20px;
}

.table_info tr:nth-child(2) {
    padding: 0;
    height: 36px;
}

.table_info tr:nth-child(3) {
    padding: 0;
    height: 18px;
}

/* --end-- */

/* Temperature in each time of day */

.time_of_day {
    width: 16%;
    height: 100%;
    border-right: 1px solid #dddddd;
}

.time_of_day_title {
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.temperature {
    margin-top: 22px;
    font-family: "Segoe UI Light";
    text-align: center;
    font-size: 30px;
    margin-bottom: 3px;
}

.temp_now {
    font-family: "Segoe UI Light";
    font-size: 15px;
    font-weight: bold;
}

.time_of_day:last-child {
    border: none;
}

.now {
    background-color: #ededed;
}

.day ~ .day .now{
    background-color: white;
}

/* --end-- */

.form-control:focus {
    border-color: #cccccc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.dropdown-menu {
    margin-top: -3px;
    width: 174px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu a:hover {
    cursor: pointer;
}

/* Profile styles */

#profile {
    padding: 6px;
    padding-right: 10px;
}

#user_avatar {
    width: 38px;
    height: 38px;
}

.username {
    font-family: "Segoe UI Light";
    font-size: 16px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 13px;
    cursor: pointer;
}

#profileMenu {
    margin-top: 1px;
    margin-left: -90px;
}

.login_signup {
    font-family: "Segoe UI Light";
    font-size: 16px;
    padding-top: 13px;
    padding-left: 15px;
    padding-right: 30px;
    color: black;
}

.login_signup a:visited, a {
    color: #428bca;
}

.login_signup a:hover {
    text-decoration: none;
}

/* --end-- */

/* History and Favorite */

.history-table {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.history-table thead {
    font-weight: bold;
}

.favorite-table {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

.favorite-table thead {
    font-weight: bold;
}

/* --end-- */


/**/

#container_nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 50px;
}

#menu {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#logo img {
    margin-top: 6px;
    width: 68px;
    height: 35px;
}

#searchform {
    display: flex;
    justify-content: center;
}

#header_and_filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 15px;
}

.company_info {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contacts {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contacts b {
   font-size: 18px;
   line-height: 25px;
}

.contacts p {
    padding: 0 45px;
}


.company_info b {
    font-size: 18px;
    line-height: 25px;
}

.company_info p {
    padding: 0 45px;
}

.welcome {
    width: 100%;
    text-align: center;
}

.friday:before {
    font-size: 12px;
    display: flex;
    align-content: center;
    color: white;
    padding: 5px;
    content: "Woohoo!";
    border-bottom-left-radius: 4px;
    font-weight: bold;
    background: #007dd1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.monday:after {
    font-size: 12px;
    display: flex;
    align-content: center;
    color: white;
    padding: 5px;
    content: "F*ckin' Monday :(";
    border-bottom-right-radius: 4px;
    font-weight: bold;
    background: #007dd1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.history_link {
    color: #428bca;
    cursor: pointer;
}